Repository hiero-ledger/hiero-sdk-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers, @hiero-ledger/github-maintainers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers
/.github/dependabot.yml                         @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers @hiero-ledger/github-maintainers
/.github/workflows/                             @hiero-ledger/github-maintainers 

# Legacy Maven project files
**/pom.xml                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

# Cargo project files and inline plugins
Cargo.lock                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
Cargo.toml                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
rustfmt.toml                                    @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
rust-toolchain.toml                             @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

# Codacy Tool Configurations
/config/                                        @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
.remarkrc                                       @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
**/LICENSE                                      @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
**/.gitignore.*                                 @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

# Legacy CircleCI configuration
.circleci.settings.xml                          @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers
/.circleci/                                     @hiero-ledger/github-maintainers @hiero-ledger/hiero-sdk-rust-maintainers @hiero-ledger/hiero-sdk-rust-committers

release: new protobuf crate version v0.16.0
  protobufs/Cargo.toml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

release: v0.32.0
  Cargo.lock
  Cargo.toml
  tck/Cargo.toml
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

feat(tck): change default port to 8544
  tck/src/main.rs
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

Create MAINTAINERS.md
  MAINTAINERS.md
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

feat(wasm): add wasm support for protobufs
  Cargo.lock
  protobufs/Cargo.toml
  protobufs/build.rs
  protobufs/src/lib.rs
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

chore(tck): bump jsonrpsee version to latest
  Cargo.lock
  tck/Cargo.toml
  tck/src/main.rs
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

chore: Update dependabot.yml for additional envs
  .github/dependabot.yml
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers, @hiero-ledger/github-maintainers

Update .github/dependabot.yml
  .github/dependabot.yml
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers, @hiero-ledger/github-maintainers

chore: update release docs
  RELEASE.md
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

chore: Create SECURITY.md
  SECURITY.md
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers

Update MAINTAINERS.md
  MAINTAINERS.md
Owners: @hiero-ledger/hiero-sdk-rust-maintainers, @hiero-ledger/hiero-sdk-rust-committers
